/* Estilos generales */
mat-toolbar {
  background-color: #8300e1;
  color: #ffffff;
}

mat-sidenav-container {
  background-color: #8f3333;
}

mat-nav-list a {
  color: #666;
  text-decoration: none;
}

.example-container {
  height: 0%;
}

mat-nav-list a:hover {
  background-color: #e5e5e5;
  color: #333;
}

.spacer {
  flex: 1 1 auto;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 680px) {
  .example-container {
    height: 100%;
  }
  
  /* No ocultar mat-sidenav-container en móviles si es utilizado */
  mat-sidenav {
    display: block;
  }
  
  mat-sidenav-container {
    background-color: transparent; /* Ajustar color si es necesario */
  }
}
