mat-toolbar {
  background-color: #8300e1;
  color: #ffffff;
}

mat-sidenav-container {
  background-color: #8f3333;
}

mat-nav-list a {
  color: #666;
  text-decoration: none;
}

mat-nav-list a:hover {
  background-color: #e5e5e5;
  color: #333;
}

.example-container {
  height: 0%;
}

.spacer {
  flex: 1 1 auto;
}

