.table-container {
    margin: 0 auto; // Esto centra horizontalmente el contenedor
    width: 80%; // Ancho deseado de la tabla
    display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .product-table {
    width: 100%;
    max-width: 800px; // Limita el ancho máximo de la tabla
    border-collapse: collapse;
    font-size: 1.1em; // Hace el texto ligeramente más grande
  
    thead {
      background-color: #f2f2f2;
  
      th {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
      }
    }
  
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }
  
        &:hover {
          background-color: #f1f1f1;
        }
  
        td {
          padding: 10px;
          border: 1px solid #ddd;
        }
      }
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30%;
    margin-top: 25%;
  }
  