<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Producto" #input>
</mat-form-field>

<button mat-raised-button color="primary" (click)="openDialog()">Agregar Producto</button>

<table mat-table [dataSource]="ListaProductos" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
    <td mat-cell *matCellDef="let element">{{ element.creationDate | date }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Cantidad</th>
    <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Estatus</th>
    <td mat-cell *matCellDef="let element">{{ element.status ? 'Activo' : 'Inactivo' }}</td>
  </ng-container>

  <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openDialog(element)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deleteProduct(element)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsHeader"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsHeader;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="6">No data matching the filter "{{ input.value }}"</td>
  </tr>
</table>
