<div class="table-container col-lg-8 col-md-10 col-sm-12">
  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <table *ngIf="!isLoading" class="product-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Producto of ListaProductos">
        <td>{{Producto.name}}</td>
        <td>{{Producto.price}}</td>
        <td>{{Producto.category}}</td>
        <td>{{Producto.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>
