<h2 mat-dialog-title *ngIf="!data">Agregar Producto</h2>
<h2 mat-dialog-title *ngIf="data">Editar Producto</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput formControlName="code">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoría</mat-label>
      <input matInput formControlName="category">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput formControlName="price" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cantidad</mat-label>
      <input matInput formControlName="amount" type="number">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onSave()">Guardar</button>
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
