.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    margin-top: 65px;
  }

  mat-icon {
    color: #fff;
  }
  
  mat-toolbar {
    background: #1976d2;
    color: white;
  }

  