<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                  [mode]="(isHandset$ | async) ? 'over' : 'side'"
                  [opened]="!(isHandset$ | async)">
      <mat-nav-list>
        <a mat-list-item routerLink="/">
          <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="product">
          <span>Productos</span>
        </a>
        <!-- Agrega más elementos del menú según sea necesario -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <!-- Contenido principal de la vista -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  