.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 100%;
    margin-top: 65px;
  }

  mat-icon {
    color: #fff;
  }
  
  mat-toolbar {
    background: #6c00e0;
    color: white;
  }

  